

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Change Role</th>
    </tr>
  </thead>

  <tbody>
    <% User.all.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.role %></td>
        <td><%= link_to 'Editar Rol', user_change_role_path(user), class: 'btn btn-sm btn-success' %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Usuario?' }, class: 'btn btn-sm btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
